{% extends 'Blog/base.html' %}
{% block content %}

{% block title %}
login
{% endblock title %}

<h1>Login Post Page</h1>
<br/><br/>

<form method='POST'>
    {% csrf_token %}
    {{ form.as_p }} <!--this is tamplates form in django 4 -->
    <button class="btn btn-success">Change</button>

    <br/><hr>
    <br/>

<ul>
    <li>
        your password can't be too similar to you other personal information
    </li>
    <li>
        your password must contain at last 8 character
    </li>
    <li>
        your password can't be a commonly used password
    </li>
    <li>
        your password cam't be entirely numeric
    </li>            
</ul>

<a href='{% url "homePage" %}' class="btn btn-secondary">Back Home</a>


{% endblock content %}