{% extends 'Blog/base.html' %}
{% load static %}
{% block content %}

{% block title %}
Edit Profile
{% endblock title %}

<h1>Edit Profile Post Page</h1>
<br/><br/>

{% if user.profile.profile_pic %}
<img src="{{ user.profile.profile_pic.url }}" class="rounded-circle" width=200 hight=200>
{% else %}
<img src="{% static 'artikelBlog/images/defaul_profile_pic.jpg' %} " class="img-fluid rounded-start" alt="my image">  
{% endif %}
    

<br/><br/>
{{ user.profile.bio }} <!-- to call the bio of user is authenticated -->
<br/><br/>
<form method='POST'>
    {% csrf_token %}
    {{ form.as_p }} <!--this is tamplates form in django 4 -->
    <button class="btn btn-success">Edit</button>

<a href='{% url "homePage" %}' class="btn btn-secondary">Back Home</a>


{% endblock content %}