{% extends 'Blog/base.html' %}
{% block content %}

{% block title %}
update post
{% endblock title %}

<h1>Edit Post Home Page</h1>
<br/><br/>


{% if user.is_authenticated %}
    


    {% if user.id == post.author.id %}
        
        <form method='POST'>
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }} <!--this is tamplates form in django 4 -->
        <button class="btn btn-success">Update</button>
        
        <a href='{% url "homePage" %}' class="btn btn-secondary">Back Home</a>
    {% else %}    
        you dont allow at this page, and u know that.... !!    

    {% endif %}
{% else %}
    you dont allow at this page, and u know that.... !!    

{% endif %}

{% endblock content %}